{% extends 'base.html' %}

{% block head %}
Comments
{% endblock  %}

{% block body %}
<div class="content">
    {% if message %}
        <p>{{message}}</p>
    {% endif %}

    {% for  message in  get_flashed_messages() %}
        <p>{{message}}</p>
    {% endfor %}
{% for comment in comments %}
    {% if comment[1] %}
        <p>{{comment[1].content}}</p>
        <p>{{comment[0].name}}</p>
        <p>{{comment[1].date_created}}</p>
        <a href="/delete/{{comment[1].id}}">Delete</a>
    {% endif %}

{% endfor %}

</div>
{% endblock body %}
